[Unit]
Description=Opera outbound network restrictions
Before=network-online.target tailscaled.service
Wants=network-pre.target
After=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/sbin/nft delete table inet opera_egress
ExecStart=/usr/sbin/nft -f /etc/nftables.d/opera-egress.nft
ExecStop=/usr/sbin/nft delete table inet opera_egress

[Install]
WantedBy=multi-user.target
