ALLOY_OTLP_TOKEN={{ monitoring_otlp_token | quote }}
SIGNOZ_OTLP_TOKEN={{ monitoring_otlp_token | quote }}
LANGFUSE_PUBLIC_KEY={{ monitoring_langfuse_public_key | quote }}
LANGFUSE_SECRET_KEY={{ monitoring_langfuse_secret_key | quote }}
LANGFUSE_OTLP_ENDPOINT={{ ((monitoring_langfuse_base_url | regex_replace('/$', '')) ~ '/api/public/otel/v1/traces') | quote }}
