ALLOY_OTLP_TOKEN={{ monitoring_otlp_token | quote }}
AXIOM_API_TOKEN={{ monitoring_axiom_api_token | quote }}
AXIOM_TRACES_DATASET={{ monitoring_axiom_traces_dataset | quote }}
AXIOM_LOGS_DATASET={{ monitoring_axiom_logs_dataset | quote }}
AXIOM_METRICS_DATASET={{ monitoring_axiom_metrics_dataset | quote }}
