apiVersion: 1

datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://127.0.0.1:{{ monitoring_prometheus_port }}
    isDefault: true
    editable: false
    jsonData:
      prometheusType: Prometheus
      prometheusVersion: 3.0.0
      timeInterval: 15s
