[Unit]
Description=Grafana Tempo trace store
After=network-online.target
Wants=network-online.target

[Service]
User=tempo
Group=tempo
ExecStart=/usr/bin/tempo -config.file=/etc/tempo/tempo.yml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
