discovery.docker "containers" {
  host = "unix:///var/run/docker.sock"
}

discovery.relabel "containers" {
  targets = discovery.docker.containers.targets

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex         = "/({{ docker_logs_exclude_pattern }})"
    action        = "drop"
  }

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex         = "/(.*)"
    replacement   = "$1"
    target_label  = "service_name"
  }

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex         = "/(.*)"
    replacement   = "$1"
    target_label  = "container"
  }
}

loki.source.docker "containers" {
  host       = "unix:///var/run/docker.sock"
  targets    = discovery.relabel.containers.output
  labels     = { platform = "docker" }
  forward_to = [loki.process.age_limit.receiver]
}

loki.process "age_limit" {
  stage.drop {
    older_than          = "{{ docker_logs_max_age }}"
    drop_counter_reason = "older_than_loki_retention"
  }

  forward_to = [loki.write.local.receiver]
}

loki.write "local" {
  endpoint {
    url = "{{ docker_logs_loki_endpoint }}"
  }
}
