[Unit]
Description=cAdvisor container metrics exporter
Requires=docker.service
After=docker.service network-online.target

[Service]
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker rm --force cadvisor
ExecStart=/usr/bin/docker run --rm --name cadvisor --pid=host --publish={{ cadvisor_port }}:8080 --volume=/:/rootfs:ro --volume=/var/run:/var/run:ro --volume=/run/containerd:/run/containerd:ro --volume=/sys:/sys:ro --volume=/var/lib/docker:/var/lib/docker:ro --volume=/var/lib/containerd:/var/lib/containerd:ro --volume=/dev/disk:/dev/disk:ro --privileged --device=/dev/kmsg {{ cadvisor_image }} --disable_metrics=advtcp,cpu_topology,cpuset,hugetlb,memory_numa,referenced_memory,resctrl
ExecStop=/usr/bin/docker stop --time=10 cadvisor
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
